
.about{
    width: 1000px;
    height: 680px;
    margin: auto;
    margin-top: 50px;
}
.about_1{
    float:left;
    height: 640px;
    width: 318px;
    
}
.about_1 img{
    box-shadow: 5px 5px 5px rgb(136, 135, 135);
    margin: 10px;
    border-radius: 150px;
}
.about_2{
    float:right;
    width: 650px;
    margin: auto;
    margin-top: 70px;
}
.about_2 p{
    font-size: 18px;
    color: #8f332e;
    font-family: "Times New Roman";
    margin-left: 30px;
    line-height: 30px;
}
.about_2 h3{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    color:#8f1812;
    font-family: "Times New Roman";
}
.about_2 ul{
    font-size: 18px;
    color: #8f332e;
    font-family: "Times New Roman";
    margin-left: 30px;
    line-height: 30px;
}
.about_2 li{
    font-size: 18px;
    color: #8f332e;
    font-family: "Times New Roman";
    
}