*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f2f0f0;
}
.upper{
    background-color: #5fa022;
    height: 30px;
}
.upper1{
    display: inline;
    float: left;
    margin-top: 6px;
    margin-left: 50px;
}
.upper1 img{
    margin-right: 5px;
    cursor: pointer;
}
.upper2{
    color: #f2f0f0;
    font-weight: bold;
    float: right;
    margin-top: 6px;
    margin-right: 50px;
    font-family: "Arial";
}
.upper2 img{
    
    margin-left: 5px;
    cursor: pointer;
}
.upper2 span{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
header{
    width: 100%;
    height: 128px;
    box-shadow: 0px 5px 5px #cfcfcf;
}
header .logo{
    
    float: left;
    width: 23%;
    margin-right: 5px;

}
header .logo img{
    width: 240px;
    height: 130px;
    vertical-align: middle;
    padding-left: 100px;
}
header nav {
    float: left;
    width: 74%;
    height: 130px;
    
}
header nav ul{
    padding-left: 100px;
}
header nav ul li{
    
    display: inline-block;
    text-align: center;
    font-size: 23px;
    margin-right: 20px;
    margin-top: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    
}

header nav ul li a{
    color: #826660;
    text-decoration:  none; 
    text-transform: uppercase;
}
a:hover{
    color: white;
    background-color: #e2827e;
    padding: 4px 2px;
    border-radius: 5px;
}
header nav ul li a.current{
    color: white;
    background-color: #e2827e;
    padding: 5px 2px;
    border-radius: 5px;
}